
            .past {
                background:"blue"
            }
            .current {
                background: red;
            }
            .future {
                background: green;
            }
       